Package: kr.xsf1re.flyjbx
Name: FlyJB X
Version: 1.1.5
Depends: mobilesubstrate
Conflicts: kr.xsf1re.flyjb
Architecture: iphoneos-arm
Description: You can HIDE Doing jailbreak your iDevice.
Maintainer: XsF1re
Author: XsF1re
Section: Tweaks
